.svn
.hg
build_output
code_drop
[Bb]in
obj
src/packages
lib/chocolatey/*.exe
lib/chocolatey/*.dll
lib/chocolatey/*.xml
lib/chocolatey/*.pdb

.editorconfig

*.suo
*.sln.docstates
*.user
*.csproj.user
*.[rR]esharper.user
*.DotSettings.user
*.resharper
_ReSharper*
*.cache
*~
*.swp
*.bak
*.orig
*.log
*.pidb
*userprefs
*.nupkg
!src/chocolatey.tests.integration/Resources/*.nupkg

TestResult.xml
submit.xml
SolutionVersion.cs
SolutionVersion.vb

.DS_Store
*.db
src/_dotCover*/
src/_dotTrace*/
src/chocolatey.sln.GhostDoc.xml

# Visual Studio 2015/2017 cache/options directory
.vs/

# Rider
.idea/

# Build related
tools/**
!tools/packages.config
!tools/Addins/packages.config
!tools/Modules/packages.config
BuildArtifacts/
code_drop/

# Chocolatey License (This covers all filenames used for test licenses)
*chocolatey.license.xml
